@import "tailwindcss";

@theme {
    --color-primary-50: #f0f4ff;
    --color-primary-500: #667eea;
    --color-primary-600: #5a67d8;
    --color-primary-700: #4c51bf;

    --font-sans: "Inter", "system-ui", "sans-serif";
}
.fa-wallet:before {
    content: "\f555";
}

body {
    background-color: skyblue;
}
